@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

.size-selector input:checked + label,
.color-selector input:checked + label {
    background-color: #fd3d57;
    color: #ffffff;
}

.input-box {
    display: block;
    width: 100%;
    border: 1px solid #d1d5db;
    padding: 0.75rem 1rem;
    color: #4b5563;
    font-size: 0.875rem;
    border-radius: 0.25rem;
}

.input-box::placeholder {
    color: #9ca3af;
}

.input-box:focus {
    border-color: #fd3d57;
    outline: none;
}
